@import "../../vars.scss"
.button
    color: $highlight
    background-color: white
    background-image: none
    border-color: $highlight
    height: 45px
    display: flex
    justify-content: center
    align-items: center
    margin-left: 10px
    border-radius: 0px
    font-weight: 700
    &:hover
        background-color: $highlight
        color: white
        border-color: $highlight
    &.grey
        color: $text-secondary-color
        border-color: $text-secondary-color
        width: 100px
        &:hover
            background-color: white
            color: $text-secondary-color
            border-color: $text-secondary-color
.hover-none
    &:hover
        background-color: white
        color: $highlight
        border-color: $highlight

.selected
    background-color: $highlight
    color: white
    border-color: $highlight
.selected.hover-none
    &:hover
        background-color: $highlight
        color: white
        border-color: $highlight

    