

$bg-white: #FFF;
$bg-light: rgb(241,241,241);

$text-primary-color: rgb(83,83,83);
$text-secondary-color: rgb(190,190,190);
$text-tertiary-color: rgb(160,160,160);
$highlight: rgb(170,145,91);

$border-color: rgb(230,230,230);
$border-darker: rgb(214,214,214);
$arrow-color: rgb(190,190,190);

$green: rgb(0,211,83);
$pink: rgb(255,155,159);
$red: rgb(252,93,40);
$yellow: rgb(253,191,50);
$lightYellow: rgb(253,243,207);
$lightGray: rgb(224,224,224);
$gray: rgb(193,193,193);