@import "../../../vars.scss"
#ValidationTable
    margin-bottom: 30px
    .column-before
        width: 745px
    .column-after
        width: 745px
    .column-actions
        width: 370px
    .table-header 
        background-color: $highlight
        color: white
        font-size: 0.8em
        height: 40px
        font-weight: 700
        th 
            height: 100%
            padding: 0.45rem
            border-left: 1px solid $border-color
        th:first-child
            border-left: none
    .table-body 
        color: $text-primary-color
        border: none !important
        
        